.container {
    text-align: center;
    /* color: aliceblue; */
    margin: 40px 0;
    position: relative;
    /* background-image: url('/home/sammitha/PES/DBMS/DBMS_Project/TheaterClubManagementSystem/theater_club_management/theater-club-frontend/src/images/bg4.png'); */

}

.title {
    color: #070707;
    /* background-color: rgba(248, 245, 245, 0.7); Semi-transparent black background */
    padding: 10px; /* Adjust padding as needed */
    width: 100%; /* Make the background span full width */
    display: block; /* Ensure it is displayed as a block element */
    text-align: center; /* Center the text */
    top:0%;
    margin: 0;
}

.home_container {
   /* display:-ms-flexbox;  */
   justify-content: center; 
   align-items: center;
    /* height: 500vh; */
}

.home_title {
    color: #070707;
    /* background-color: rgba(248, 245, 245, 0.7);  */
    padding: 10px; /* Adjust padding as needed */
    width: 100%; /* Make the background span full width */
    display: block; /* Ensure it is displayed as a block element */
    text-align: center; /* Center the text */
    text-shadow: #284e32;
    font-size: 6em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 20%;
}


.button {
    color: rgba(25, 95, 25, 0.837);
    background-color:  rgba(248, 245, 245, 0.7);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
    top: 0; 
    right: 0; 
    margin: 10px; /* Optional: adjust margin as needed */ 
    padding: 10px 20px;
}
.button:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    background-color: rgba(25, 95, 25, 0.837);
    color:#fafafa
}


.button_back {
    color: rgba(25, 95, 25, 0.837);
    background-color:  rgba(248, 245, 245, 0.7);
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 4px; 
    position: absolute; /*Ensure absolute positioning  */
    top: 5px; /* Adjust the distance from the top */ 
    left: 30px;
}
.button_back:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    background-color: rgba(25, 95, 25, 0.837);
    color:#fafafa
}

/* .button_big {
    color: rgb(55, 196, 55);
    size: "fill";
    align-self:auto ;
    width: 100;
    height: 50;
    background-color: #202620;
    padding: 200px 600px;
    text-decoration: none;
    text-size-adjust: 50;
    border-radius: 4px;
    display: inline-block;
    margin-top: 20px;
} */

/* Styling the paragraph button */
.button_big {
    display: flex;
    align-items: center;
    background-color: rgba(25, 95, 25, 0.837);
    color:#fafafa;
    width: 50;
    height: 50;
    padding: 30px 50px;
    margin: 20px 0;
    border-radius: 8px;
    text-decoration: none; /* Remove underline from links */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

.button_big:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    color: rgba(25, 95, 25, 0.837);
    background-color:  rgba(248, 245, 245, 0.7);
}



.go_to_account{
    color: rgba(25, 95, 25, 0.837);
    background-color:  rgba(248, 245, 245, 0.7);
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 4px; 
    position: absolute; /*Ensure absolute positioning  */
    top: 5px; /* Adjust the distance from the top */ 
    right: 50px;    
}
.go_to_account:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    background-color: rgba(25, 95, 25, 0.837);
    color:#fafafa
}

.heading_cont {
    text-align: center;
    background-image: url('../images/stage_image.jpeg');
    padding: 50px;
    background: scroll;
}

.editTable {
    width: 80%; 
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.editTable th, .editTable td {
    border: 1px solid #3f3c3c;
    padding: 10px;
    text-align: left;
}

.editTable th {
    background-color: rgba(25, 95, 25, 0.837);
    color:#fafafa
}
.editTable td {
    background-color: rgba(240, 246, 240, 0.7);
}

/* Input field styling */
.editTable input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #0b140e;
    border-radius: 4px;
}

/* Basic form styling */
/* Styling the form container */
.form {
    align-items: center;
    background-color: #d6dfcc;
    padding: 30px 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    margin-top: 10%;

  }

  .play-members {
    padding: 20px;
}

.styled-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.play-member {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.play-member:hover {
    transform: scale(1.05);
}

.mem-name {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.role {
    font-style: italic;
    color: #6b8e23;
}

.profile-picture {
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the specified dimensions without stretching */
    border-radius:50%; /* Optional: Makes the images circular */
    border: 2px solid #ccc; /* Optional: Adds a border around the images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow effect */
    margin-bottom: 10px; /* Optional: Adds space below the images */
}
